<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/styles.css">    
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="module" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>  
    <script src="/static/main.js" defer></script>
    <title> {% block title %} {% endblock %} </title>
</head>
<body>

    <div class="tab-container">
        <div class="heading">IntimateQ</div>
        <div class="burger-menu">
            <img src="/static/assets/burger.svg" alt="burger menu icon">
        </div>
        <div class="tab-bar">
            <div class="tab"><a href="/">Home</a></div>
            <!-- <div class="tab">About Us</div> -->
            <!-- <div class="tab">Testimonials</div> -->
            <div class="tab" data-section-id="#contact">Contact</div>
            {% if user_type == 'user' %}
                <div class="tab"><a href="{{ url_for('views.doctors') }}">Doctors</a></div>
            {% endif %}
            {% if user.is_authenticated %}
                {% if user_type == 'doctor' %}
                    <div class="tab"><a href="{{ url_for('views.doctor_dashboard', doctor_id=user.doctorID) }}">Dashboard</a></div>
                {% endif %}
            <div class="tab" ><a href="/logout">Logout</a></div>
            {% else %}
            <div class="tab" ><a href="/login">Login</a></div>
            <div class="tab"><a href="/register">Register</a></div>
            <div class="tab"><a href="/doctor_login">Doctor Login</a></div>
            {% endif %}
        </div>
    </div>

    {% block content %} {% endblock %}
</body>
</html>