{% extends 'base.html' %}

{% block title %}
    Chat
{% endblock %}

{% block content %}

    <div class="form-container">
        <div class="chat-container form">
            <h1>Chat</h1>
            <div id="chat-window">
                <div id="messages">
                    {% for msg in messages %}
                    <div class="message">
                        <strong>{{ msg.name }}:</strong> {{ msg.message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="chat-bottom">
                <input type="text" id="chat-message" placeholder="Type a message...">
                <button id="send-message-btn">Send</button>
            </div>
        </div>
    </div>

    

    <script type="text/javascript" defer>
        const sockets = [
            io('wss://intimateq.onrender.com', {
                path: '/socket.io',
                transports: ['websocket']
            }),
            io('https://intimateq.in', {
                path: '/socket.io',
                transports: ['websocket']
            }),
            io('https://www.intimateq.in', {
                path: '/socket.io',
                transports: ['websocket']
            })
        ];
        

        const userType = "{{ user_type }}";        
        const roomCode = "{{ room_code }}";        
        const messages = document.getElementById('chat-window');

        sockets.forEach(socket => {
            socket.emit('join', roomCode);

            socket.on('message', function(content) {
                createMessage(content.name, content.message);
            });
        });


        function createMessage(name, msg) {
            const content = `
                <div>
                    <strong>${name}</strong>: ${msg}
                </div>
            `;
            messages.innerHTML += content;
        }


        function sendMessage() {
            const messageInput = document.getElementById('chat-message');
            const message = messageInput.value;
            if (message === "") return;            
            const content = {
                "room": roomCode,
                "message": message
            } 
            sockets.forEach(socket => {
                socket.emit('message', content);
            });
            
            if (userType === 'user') {
                const userId = '{{ user.id }}';    
                const username = "{{ user.username }}";  
                sockets.forEach(socket => {
                    socket.emit('chat_request', { 'room': roomCode, 'userId': userId, "message": message });
                });
            }
            messageInput.value = '';
        }

        document.getElementById('send-message-btn').addEventListener('click', function() {
            sendMessage();
        });
    </script>
    

{% endblock %}