{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    <h1>Register</h1>
    <form action="/doctor_register" method="post">
        <label for="doctorID">Doctor ID</label>
        <input type="text" name="doctorID" id="doctorID" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
    </form>

{% endblock %}
