{% extends 'base.html' %}

{% block title %}
    Doctors
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Doctors</h1>
        <div class="doctors">
            <!-- {% for doctor in doctors %}
                <div class="doctor">
                    <img src="{{ doctor.image }}" alt="{{ doctor.name }}">
                    <h2>{{ doctor.name }}</h2>
                    <p>{{ doctor.specialty }}</p>
                    <p>{{ doctor.phone }}</p>
                    <p>{{ doctor.email }}</p>
                </div>
            {% endfor %} -->
        </div>
    </div>
{% endblock %}