{% extends 'base.html' %}

{% block title %}
    Doctors
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Doctors</h1>
        <div class="doctors">
            <div class="wrapper">
                <div class="doctors-card">
                    <div class="doctor" data-doctor-id="000001">                    
                        <img src="../static/assets/doc1.png" alt="doctor" class="doctor-image">                    
                        <div class="overlay">                        
                            <div class="doctor-name">Dr. Srijana Saha</div>
                            <div class="doctor-specialization">Dept of Head - Neck Surgery</div>
                            <div class="doctor-qualification">MBBS, MS ENT, DNB ENT</div>     
                            <div class="doctor-consult-btn">Consult</div>                                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}