{% extends 'base.html' %}

{% block title %} IntimateQ {% endblock %}

{% block content %}

    <div class="tab-container">
        <div class="heading">IntimateQ</div>
        <div class="tab-bar">
            <div class="tab" data-section-id="#homepage">Home</div>
            <div class="tab" data-section-id="#services">Services</div>
            <div class="tab" data-section-id="#doctors">Doctors</div>
            <div class="tab" data-section-id="#why-us">Why Us</div>
            <!-- <div class="tab">About Us</div> -->
            <!-- <div class="tab">Testimonials</div> -->
            <div class="tab" data-section-id="#contact">Contact</div>            
        </div>
    </div>

    <img src="../static/assets/icon.svg" alt="logo" id="logo">   

    <div>
        <section id="homepage" class="section">
            <div class="slogan">Your Incognito Tab!</div>
            <div class="chat-btn">Start a new chat</div>
        </section>

        <div id="chat-scroll-btn"><img src="../static/assets/chat.svg" alt="chat image"></div>
    
        <section id="services" class="section">
            <div class="subheading" id="services-subheading">Our Services</div>
            <div class="services-container">
                <div class="service">
                    <div class="lines"></div>
                    <div class="service-icon">
                        <img src="../static/assets/qna.svg" alt="QnA image">
                    </div>
                    <div class="content">
                        <div class="details">
                            <div class="service-title">Q&A Platform</div>
                            <div class="service-description">Consult with our doctors and get the best advice</div>
                        </div>
                    </div>
                </div>                
                <div class="service">
                    <div class="lines"></div>
                    <div class="service-icon">
                        <img src="../static/assets/webinar.svg" alt="webinar image">
                    </div>
                    <div class="content">
                        <div class="details">
                            <div class="service-title">Webinars and Workshops</div>
                            <div class="service-description">Join our interactive sessions for in-depth learning</div>
                        </div>
                    </div>
                </div>                
                <div class="service">
                    <div class="lines"></div>
                    <div class="service-icon">
                        <img src="../static/assets/educational.svg" alt="educational image">
                    </div>
                    <div class="content">
                        <div class="details">
                            <div class="service-title">Educational Resources</div>
                            <div class="service-description">Explore articles, videos, and guides on various topics</div>
                        </div>
                    </div>
                </div>                
                <div class="service">
                    <div class="lines"></div>
                    <div class="service-icon">
                        <img src="../static/assets/personalised.svg" alt="personalised image">
                    </div>
                    <div class="content">
                        <div class="details">
                            <div class="service-title">Personalized Guidance</div>
                            <div class="service-description">Get one-on-one support from certified doctors</div>
                        </div>
                    </div>
                </div>                
                
            </div>               
        </section>
    
        <section id="doctors" class="section">
            <div class="subheading" id="doctors-subheading">Our Trusted Doctor</div>
            <div class="wrapper">
                <div class="doctors-card">
                    <div class="doctor">                    
                        <img src="../static/assets/doc1.png" alt="doctor" class="doctor-image">                    
                        <div class="overlay">                        
                            <div class="doctor-name">Dr. Srijana Saha</div>
                            <div class="doctor-specialization">Dept of Head - Neck Surgery</div>
                            <div class="doctor-qualification">MBBS, MS ENT, DNB ENT</div>     
                            <div class="doctor-consult-btn">Consult</div>                                                   
                        </div>
                    </div>                                                                                     
                    <!-- <div class="doctor">                    
                        <img src="../static/assets/doc1.png" alt="doctor" class="doctor-image">                    
                        <div class="overlay">                        
                            <div class="doctor-name">Dr. Srijana Saha</div>
                            <div class="doctor-specialization">Dept of Head - Neck Surgery</div>
                            <div class="doctor-qualification">MBBS, MS ENT, DNB ENT</div>  
                            <div class="doctor-consult-btn">Consult</div>                          
                        </div>
                    </div>                                                                                                                         
                    <div class="doctor">                    
                        <img src="../static/assets/doc1.png" alt="doctor" class="doctor-image">                    
                        <div class="overlay">                        
                            <div class="doctor-name">Dr. Srijana Saha</div>
                            <div class="doctor-specialization">Dept of Head - Neck Surgery</div>
                            <div class="doctor-qualification">MBBS, MS ENT, DNB ENT</div> 
                            <div class="doctor-consult-btn">Consult</div>                           
                        </div>
                    </div>  -->
                </div>
            </div>
            <div class="see-all-btn">See All Doctors <img src="../static/assets/new_tab.svg" alt="new tab img"></div>
        </section>
    
        <section id="why-us" class="section">
            <div class="subheading" id="why-us-subheading">Why Us</div>
            <div class="why-us-container">
                <div class="why-us-card">
                    <div class="overlay">
                        <div class="why-us-title">Professional Answers</div>
                        <div class="why-us-description">Message and video chat with certified professional and get accurate and reliable answers for your queries</div>
                    </div>
                </div>                
                <div class="why-us-card">
                    <div class="overlay">
                        <div class="why-us-title">Safe environment</div>
                        <div class="why-us-description">Feel to share anonymously your personal questions. This is a judgement free space designed for comfort and privacy ensuring wellbeing of young minds </div>
                    </div>
                </div>                
                <div class="why-us-card">
                    <div class="overlay">
                        <div class="why-us-title">Comprehensive Knowledge</div>
                        <div class="why-us-description">Get access to a wide range of questions and topics that arise among teenagers that are tailored to your needs specifically.</div>
                    </div>
                </div>                
            </div>
        </section>
    
        <section id="contact" class="section">
            <div>
                <div id="feedback">
                    <div class="feedback-heading">Feedback</div>
                    <div class="feedback-form">
                        <label for="name">Name:</label>
                        <input type="name" name="name" id="name" placeholder="Enter your name">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                        <label for="feedback-text">Feedback:</label>
                        <textarea type="text" id="feedback-text" placeholder="Please provide feedback"></textarea>
                        <div class="feedback-submit">Submit</div>
                    </div>            
                </div>
                <div class="contact-right">
                    <div id="get-involved">
                        <div class="get-involved-heading">Get Involved</div>
                        <div class="get-involved-text">
                            <div class="get-involved-title">Join the Community</div>
                            <div class="get-involved-description">Sign up to participate in discussions and access exclusive content.</div>
                        </div>
                        <div class="get-involved-text">
                            <div class="get-involved-title">Attend Events</div>
                            <div class="get-involved-description">Check our calendar for upcoming webinars and workshops.</div>
                        </div>
                        <div class="get-involved-text">
                            <div class="get-involved-title">Partner with Us</div>
                            <div class="get-involved-description">Learn how schools, NGOs, and other organizations can collaborate with IntimateQ.</div>
                        </div>
                        <div class="get-involved-ending">
                            Start your journey with IntimateQ today and empower yourself with knowledge. Explore our resources, ask your questions, and take control of your sexual health with confidence.
                        </div>
                    </div>
                    <div class="contact-container">
                        <div class="contact-sunheading">Contact Us</div>
                        <div class="contact-intro">
                            Have questions or need support? Reach out to us at <a href="mailto:contact@intimateq.com">contact@intimateq.com</a> or follow us on social media for updates and information.
                        </div>
                        <div class="contact-card">                            
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}