<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="module" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>  
    <script src="../static/main.js" defer></script>
    <title>Document</title>
</head>
<body>

    <div class="tab-container">
        <div class="heading">IntimateQ</div>
        <div class="tab-bar">
            <div class="tab" data-section-id="#homepage">Home</div>
            <div class="tab" data-section-id="#services">Services</div>
            <div class="tab" data-section-id="#doctors">Doctors</div>
            <div class="tab" data-section-id="#why-us">Why Us</div>
            <!-- <div class="tab">About Us</div> -->
            <!-- <div class="tab">Testimonials</div> -->
            <div class="tab" data-section-id="#contact">Contact</div>            
        </div>
    </div>

    <img src="../static/assets/icon.svg" alt="logo" id="logo">   

    <div>
        <section id="homepage" class="section">
            <div class="slogan">Your Incognito Tab!</div>
            <div class="chat-btn">Start a new chat</div>
        </section>
            
    
        <section id="services" class="section">
            <div class="subheading" id="services-subheading">Our Services</div>
            <div class="services-container">
                <div class="service">
                    <div class="service-icon">
                        <img src="../static/assets/qna.svg" alt="doctor">
                    </div>
                    <div class="service-title">Q&A Platform</div>
                    <div class="service-description">Consult with our doctors and get the best advice</div>
                </div>
                <div class="service">
                    <div class="service-icon">
                        <img src="../static/assets/qna.svg" alt="medication">
                    </div>
                    <div class="service-title">Webinars and Workshops</div>
                    <div class="service-description">Get your medication delivered to your doorstep</div>
                </div>
                <div class="service">
                    <div class="service-icon">
                        <img src="../static/assets/qna.svg" alt="therapy">
                    </div>
                    <div class="service-title">Educational Resources</div>
                    <div class="service-description">Get therapy sessions with our expert therapists</div>
                </div>
                <div class="service">
                    <div class="service-icon">
                        <img src="../static/assets/qna.svg" alt="therapy">
                    </div>
                    <div class="service-title">Personalized Guidance</div>
                    <div class="service-description">Get therapy sessions with our expert therapists</div>
                </div>
        </section>
    
        <section id="doctors" class="section">
            <div class="doctors-card">
                <div class="doctor">
                    <div class="doctor-image">
                        <img src="../static/assets/doctor.svg" alt="doctor">
                    </div>
                    <div class="doctor-name">Dr. John Doe</div>
                    <div class="doctor-specialization">Cardiologist</div>
                    <div class="doctor-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>                    
                </div>
                <div class="doctor">
                     <div class="doctor-image">
                        <img src="../static/assets/doctor.svg" alt="doctor">
                    </div>
                    <div class="doctor-name">Dr. John Doe</div>
                    <div class="doctor-specialization">Cardiologist</div>
                    <div class="doctor-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>                    
                </div>
                <div class="doctor">
                     <div class="doctor-image">
                        <img src="../static/assets/doctor.svg" alt="doctor">
                    </div>
                    <div class="doctor-name">Dr. John Doe</div>
                    <div class="doctor-specialization">Cardiologist</div>
                    <div class="doctor-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>                    
                </div>
            </div>
        </section>
    
        <section id="why-us" class="section">
            <div class="subheading" id="why-us-subheading">Why Us</div>
            <div class="why-us-container">
                <div class="why-us-card">
                    <div class="why-us-icon">
                        <img src="../static/assets/why-us.svg" alt="why-us">
                    </div>
                    <div class="why-us-title">24/7 Support</div>
                    <div class="why-us-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>
                </div>
                <div class="why-us-card">
                    <div class="why-us-icon">
                        <img src="../static/assets/why-us.svg" alt="why-us">
                    </div>
                    <div class="why-us-title">Secure and Confidential</div>
                    <div class="why-us-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>
                </div>
                <div class="why-us-card">
                    <div class="why-us-icon">
                        <img src="../static/assets/why-us.svg" alt="why-us">
                    </div>
                    <div class="why-us-title">Expert Doctors</div>
                    <div class="why-us-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>
                </div>
            </div>
        </section>
    
        <section id="contact" class="section">
            <div id="feedback">
                <div class="feedback-email">
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                    <input type="text" placeholder="Please provide feedback">
                </div>            
            </div>
            <div class="contact-container">
                <div class="contact-card">
                    <div class="contact-icon">
                        <img src="../static/assets/contact.svg" alt="contact">
                    </div>
                    <div class="contact-title">Contact Us</div>
                    <div class="contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>
                </div>
                <div class="contact-card">
                    <div class="contact-icon">
                        <img src="../static/assets/contact.svg" alt="contact">
                    </div>
                    <div class="contact-title">Email Us</div>
                    <div class="contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>
                </div>
                <div class="contact-card">
                    <div class="contact-icon">
                        <img src="../static/assets/contact.svg" alt="contact">
                    </div>
                    <div class="contact-title">Call Us</div>
                    <div class="contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis harum accusantium esse dignissimos consectetur aperiam cumque ipsum quasi, eveniet alias!</div>
                </div>
        </section>
    </div>
    
</body>
</html>