<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="module" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>  
    <script src="../static/main.js" defer></script>
    <title>Document</title>
</head>
<body>

    <div class="tab-container">
        <div class="heading">IntimateQ</div>
        <div class="tab-bar">
            <div class="tab">Home</div>
            <div class="tab">About</div>
            <div class="tab">Contact</div>
        </div>
    </div>


    <section class="homepage">
        
    </section>

    <!-- <div class="logo-container"> -->
        <img src="../static/assets/icon.svg" alt="logo">
    <!-- </div> -->

    <div class="next-div">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tempore inventore, vero adipisci perspiciatis aut totam nemo rem, molestiae non ad ut hic ipsa voluptatum repellat. Fugit asperiores ad aliquam!
    </div>
</body>
</html>