{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    <div class="form-container">
        <h1 class="form-heading">User Register</h1>
        <div class="form-wrapper" id="register-form-wrapper">
            <form action="/register" method="post" class="form" >
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <label for="date-of-birth">Date of Birth</label>
                <input type="date" name="date-of-birth" id="date-of-birth" required>
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

{% endblock %}
