/* manrope-latin-wght-normal */
@font-face {
    font-family: 'Manrope Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 200 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope Variable';
    --primary-color: #989690;
    --bg-primary-color: #282624;    
    --bg-secondary-color: #D4D2CA;
    --accent-color: #E9E8E5;
}

html {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;    
    background-color: var(--bg-primary-color);
    color: var(--primary-color);
    height: 500vh;
}

body {
    margin: 0;
}

.tab-container {
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    z-index: 1;
}

.heading {
    margin-left: 30px;
    font-size: 3rem;
    font-weight: 700;
    
}

.tab-bar {
    width: 40%;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;    
    margin-right: 20px;
}

.tab-bar .tab {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.tab-bar .tab a {
    text-decoration: none;
    color: var(--primary-color);
}

.tab-bar .tab a:hover {
    color: var(--accent-color);
}

#homepage {        
    top: 0;    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden;     */
}

.slogan {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 2px;
}

.chat-btn {
    background-color: var(--primary-color);
    color: var(--bg-primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.chat-btn:hover {
    background-color: var(--bg-primary-color);
    color: var(--primary-color);
}

#logo {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    transform: translateY(-50%);
    width: 100vw;
    height: 30%;
    transition: transform 0.1s, top 0.05s;
    z-index: 100;
}

#services {
    background-color: var(--bg-secondary-color);    
    height: 100vh;
}

.service-icon {
    height: 100px;
    width: 100px;
}

.service-icon img {
    height: 100%;
    width: 100%;
}

#doctors {
    background-color: var(--bg-primary-color);    
    height: 100vh;
}

#why-us {
    background-color: var(--bg-secondary-color);    
    height: 100vh;
}

#contact {
    background-color: var(--bg-primary-color);    
    height: 100vh;
}

section {
    position: sticky;
    top: 0;
}